// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

@import url("http://fonts.googleapis.com/css?family=Roboto:500,700,400&subset=cyrillic-ext,latin")

body
	position: relative
	min-width: 1000px
	min-height: 680px
	font-size: 13px
	font-weight: 400
	line-height: 16px
	font-family: 'Roboto', sans-serif
	background-color: #252529
	+background-image(linear-gradient(to top, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%))
	+box
	&::-webkit-scrollbar
		display: none
	a
		color: black
		text-decoration: none
		+transition(all .1s linear)
	&.is-open-popup
		overflow: hidden
		.popup
			display: block

.out
	position: absolute
	top: 50px
	left: 0
	right: 0
	bottom: 31px
	min-width: 1000px
	z-index: 1

// ico
.ico
	display: inline-block
	&.ico_flag-ru
		+s(flag-ru) 
	&.ico_flag-de
		+s(flag-de)
	&.ico_flag-tu
		+s(flag-tu)
	&.ico_flag-en
		+s(flag-en)
	&.ico_flag-ne
		+s(flag-ne)
	&.ico_flag-fr
		+s(flag-fr)
	&.ico_flag-es
		+s(flag-es)
	&.ico_operator
		+s(operator)
	&.ico_arrtop
		+s(arrtop)
	&.ico_arrbot
		+s(arrbot)
	&.ico_error
		+s(error-ico)
	&.ico_lose
		+s(ico-lose)
	&.ico_up
		+s(ico-up)
	&.ico_k-left
		+s(ico-k-left)
	&.ico_k-right
		+s(ico-k-right)
	&.ico_key
		+s(ico-key)
	&.ico_delete
		+s(ico-delete)

// common blocks      

// header
.header
	position: fixed
	top: 0
	left: 0
	right: 0
	min-width: 1000px
	height: 50px
	z-index: 3
	background-color: white
	+r(1000)
		position: absolute
		top: -50px
	.header__center
		position: absolute
		top: 0
		left: 50%
		height: 50px
		+translate(-50%, 0)
		opacity: 0.25
		color: black
		font-size: 28px
		line-height: 50px
		text-transform: uppercase
	.header__right
		float: right
		font-size: 0
	.date,
	.language,
	.logo
		vertical-align: top
		display: inline-block

// menu
.menu
	float: left
	font-size: 0
	.menu__item
		margin-left: 17px
		height: 50px
		line-height: 50px
		vertical-align: top
		display: inline-block
	a
		+opacity(0.25)
		color: black
		font-size: 28px
		font-weight: 400
		line-height: 1
		vertical-align: middle
		text-transform: uppercase
		display: inline-block
		&:hover,
		&.is-active
			+opacity(1)
	
// date
.date
	padding-right: 30px

// language
.language
	position: relative
	width: 125px - 25px
	padding-left: 25px 
	text-align: left
	cursor: pointer
	background: #f2f2f2
	.language__text
		vertical-align: middle
		display: inline-block
	.language__arr,
	.ico
		display: inline-block
		vertical-align: middle
		line-height: 1
	.language__arr 
		margin-right: 7px
		+s(arr-bot)
	.ico
		margin-left: 6px
	.language__drop
		position: absolute
		top: 50px
		left: 0
		right: 0
		background: #E0E0E0    
		padding-bottom: 10px 
		display: none
	.language__item
		padding-left: 25px 
		line-height: 40px 
		.language__text
			line-height: 40px 
	&.is-active
		background: #E0E0E0
		.language__drop
			display: block
		 

// logo
.logo
	position: relative
	width: 125px
	height: 50px
	&:hover
		.operator
			visibility: visible
			+opacity(1)

// operator
.operator
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	text-align: center
	visibility: hidden
	z-index: 1
	background: #f8f8f8
	+opacity(0)
	+transition(all .1 linear)
	.ico
		margin-right: 5px
		vertical-align: middle

// date language operator 
.date,
.language,
.operator
	height: 50px
	font-size: 15px
	line-height: 50px
	text-transform: uppercase

// wrap
.wrap
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	+box
	+clr

// col
.col-left,
.col-right
	position: absolute
	top: 0
	left: 0
	bottom: 0
	overflow: auto
	&::-webkit-scrollbar
		display: none
.col-left
	width: 148px
	z-index: 2
	+box
	+r(1036)
		padding-top: 11px

.col-right
	left: auto
	right: 0
	padding-left: 2px
	color: white
	width: 252px
	z-index: 2
	+box

// nav
.nav
	margin-top: 30px
	padding-right: 8px
	.nav__item
		display: block
		&.is-active,
		&:hover
			a
				color: #ffdd25
			.link
				color: white
		&.is-active
			.nav__list
				display: block
	a
		padding: 0 22px
		font-size: 13px
		font-weight: 500
		height: 40px
		color: white
		line-height: 40px
		display: block
		+box
	.nav__list
		display: none

// link
.link
	position: relative
	text-align: center
	font-size: 15px
	text-transform: uppercase
	span
		position: relative
		padding: 1px 2px
		z-index: 1
	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 140px
		+opacity(.1)
	&.is-active,
	&:hover
		span
			background: #000
			background: rgba(#000, .8)
		&:before
			width: 148px
			-webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%)
			clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%)
			+opacity(1)
	&.link_eur-usd
		&:before
			background: url(../img/eur-usd.png) no-repeat 0 0
			background-size: cover
	&.link_rur-eur
		&:before
			background: url(../img/rur-eur.png) no-repeat 0 0
			background-size: cover
	&.link_rur-usd
		&:before
			background: url(../img/rur-usd.png) no-repeat 0 0
			background-size: cover
	&.link_eur-aud
		&:before
			background: url(../img/eur-aud.png) no-repeat 0 0
			background-size: cover
	&.link_aud-jpy
		&:before
			background: url(../img/aud-jpy.png) no-repeat 0 0
			background-size: cover
	&.link_oil
		&:before
			background: url(../img/oil.png) no-repeat 0 0
			background-size: cover
	&.link_gold
		&:before
			background: url(../img/gold.png) no-repeat 0 0
			background-size: cover
	&.link_gazprom
		&:before
			background: url(../img/gazprom.png) no-repeat 0 0
			background-size: cover
	&.link_apple
		&:before
			background: url(../img/apple.png) no-repeat 0 0
			background-size: cover
	&.link_google
		&:before
			background: url(../img/google.png) no-repeat 0 0
			background-size: cover
	&.link_facebook
		&:before
			background: url(../img/facebook.png) no-repeat 0 0
			background-size: cover
	&.link_dax30
		&:before
			background: url(../img/dax.png) no-repeat 0 0
			background-size: cover
	&.link_ftse100
		&:before
			background: url(../img/ftse.png) no-repeat 0 0
			background-size: cover
	&.link_silver
		&:before
			background: url(../img/silver.png) no-repeat 0 0
			background-size: cover

// commodities
.commodities
	text-align: center
	margin: 44px 8px 30px 0
	+r(1036)
		margin-top: 16px
	.commodities__buttons
		width: 112px
		height: 55px
		border: 1px solid white
		font-size: 0
		display: inline-block
		+box
	.commodities__plus,
	.commodities__minus
		position: relative
		width: 55px
		height: 53px
		display: inline-block
		background: none
		+box
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 50%
			+translate(-50%,-50%)
	.commodities__plus
		border-right: 1px solid white
		&:before
			+s(arr-top)
	.commodities__minus
		&:before
			+s(arr-bott)
	.commodities__text
		margin: 20px 0 0
		color: white
		font-size: 13px
		font-weight: 500
	&.commodities_alt 
		text-align: left
		padding-left: 15px 
		padding-bottom: 15px 
		+clr
		.commodities__textual
			float: right
			padding-right: 7px 
			text-align: right
			width: 100px 
			line-height: 1.4 
		.commodities__buttons
			float: left
// topic
.topic
	padding: 15px 14px 0
	height: 50px
	background: #39393d
	+box
	+clr

// calculator
.calculator
	padding: 0 13px
	margin-top: 95px
	+r(1036)
		margin-top: 28px

// bet
.bet
	font-size: 0
	.bet__row
		margin-top: 5px
		+clr
		&:first-child
			margin-top: 0
	.bet__text
		float: left
		font-size: 13px
		font-weight: 500
	.bet__inf
		float: right
		font-size: 13px
		color: #ffe41d
	.bet__minus,
	.bet__plus,
	.bet__price,
	.max-win
		width: 56px
		height: 55px
		position: relative
		vertical-align: top
		display: inline-block
		+box
	.bet__minus,
	.bet__plus
		border-top: 1px solid #fff
		border-bottom: 1px solid #fff
		background: none
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 50%
			+translate(-50%,-50%)
	.bet__minus
		border-left: 1px solid #fff
		&:before
			+s(ico-minus)
	.bet__plus
		&:before
			+s(ico-plus)
	.bet__price
		position: relative
		padding-right: 31px
		color: #000
		font-size: 22px
		line-height: 55px
		text-align: center
		text-transform: uppercase
		background: #fff
		+box
		input
			position: absolute
			top: 0
			right: 0
			bottom: 0
			width: 34px
			font-size: 22px
			font-family: 'Roboto', sans-serif
			background: #fff
			user-select: none
	.max-win
		color: #000
		text-align: center
		text-transform: uppercase
		font-size: 22px
		line-height: 55px
		background-color: #ffd236
		+background-image(linear-gradient(to left, rgba(0, 0, 0, 0.12) 0%, rgba(255, 255, 255, 0.12) 100%))
	&.bet_wide
		margin-bottom: 6px 
		.bet__price
			width: 112px 
			text-align: center
			input
				width: 100%
				text-align: center
				+box 
		.bet__plus
			border-right: 1px solid #fff
.max
	margin-bottom: 13px 
	.max__amount
		float: left
		width: 112px 
		height: 36px 
		font-size: 22px 
		text-align: center
		line-height: 36px
		+gh(#FEE057,#FDC13A) 
		margin-right: 9px 
		color: #000 
	.max__text
		font-size: 13px 
		color: #FEE23C
		line-height: 1.4 
// duration
.duration
	margin-top: 4px
	.duration__text
		font-size: 13px
	.duration__table
		margin-top: 5px
		border: 1px solid #fff
		font-size: 0
	.duration__item
		position: relative
		height: 55px
		width: 55.5px
		border-left: 1px solid #fff
		font-size: 22px
		line-height: 55px
		text-align: center
		cursor: pointer
		+user-select(none)
		vertical-align: top
		display: inline-block
		+box
		&:before
			position: absolute
			content: ''
			top: -1px
			left: -1px
			right: -1px
			bottom: -1px
			z-index: 1
			border: 1px solid #FFE147
			display: none
		&:after
			position: absolute
			content: ''
			top: 0
			left: -1px
			bottom: 0
			width: 1px
			z-index: 2
			background: #fff
			display: none
		&:active
			+box-shadow(0 0 50px rgba(255, 225, 71, 0.5))
			&:before
				display: block
		&:first-child
			border-left: 0
		&.is-active
			color: #000
			z-index: 2
			background: #fff
			&:before
				border-color: #fff
			& + .duration__item
				&:after
					display: block

// buttons
.buttons
	margin-top: 43px
	+clr
	.btn-top,
	.btn-bottom
		width: 100%
		height: 80px
		color: #fff
		font-family: 'Roboto', sans-serif
		font-size: 22px
		font-weight: 400
		line-height: 80px
		text-align: center
		text-transform: uppercase
		display: block
		&:hover
			+opacity(.9)
		&:active
			+box-shadow(0 0 50px rgba(255, 225, 71, 0.5))
		+r(1036)
			float: left
			width: 50%
	.btn-top
		background: url(../img/bg-btn-top.png) no-repeat 0 0
		background-size: cover
	.btn-bottom
		background: url(../img/bg-btn-bot.png) no-repeat 0 0
		background-size: cover
	.ico
		position: relative
		margin-right: 5px
		top: -2px
		vertical-align: middle

// counts
.counts
	float: left
	.counts__text
		font-size: 13px
		font-weight: 500
		line-height: 24px
	.counts__price
		margin-left: 18px
		font-size: 22px
		font-weight: 400
		line-height: 1
		text-transform: uppercase
	.counts__text,
	.counts__price
		vertical-align: top
		display: inline-block

// authorization
.authorization
	float: right
// login logaut
.login
	+s(login)
.login,
.logaut
	display: none
	&.is-active
		display: inline-block

// options
.options
	margin: 110px 0 20px
	cursor: pointer
	+r(1036)
		margin-top: 47px
	.options__topic
		margin-bottom: 9px
		padding: 0 13px
		font-size: 13px
		+clr
	.options__left
		float: left
	.options__right
		float: right
	.options__price
		margin-top: 12px
		padding-right: 17px
		text-align: right
	.option
		&:nth-child(even)
			background: #2b2b2f
			background: rgba(#fff, .05)

// option
.option
	position: relative
	padding-top: 7px
	height: 35px
	font-size: 0
	display: block
	+box
	&:hover
		background: #2b2b2f
		background: rgba(#fff, .05)
	&:hover,
	&.is-selected
		.mark
			+opacity(1)
	.mark
		position: absolute
		content: ''
		left: -3px
		bottom: 0
		width: 3px
		height: 100%
		background-color: #ffb400
		+opacity(0)
	.option__currency
		width: 118px
		line-height: 22px
		&.is-up
			.option__ico
				+s(geen-arr-option)
		&.is-down
			.option__ico
				+s(red-arr-option)
	.option__ico
		position: relative
		margin-right: 5px
		top: -1px
		vertical-align: middle
		display: inline-block
	.option__money
		margin-left: 5px
		display: inline-block
	.timer,
	.option__currency,
	.option__win
		font-size: 13px
		display: inline-block
		vertical-align: top
		color: #fff
		text-transform: uppercase
	.option__win
		border: 1px solid #fff
		height: 22px
		width: 35px
		text-align: center
		line-height: 20px
		+box

// timer
.timer
	padding-left: 13px
	width: 83px
	line-height: 22px
	+box
	&.timer_yellow
		.timer__time
			color: #ffb400
	.timer__ico
		position: relative
		top: 2px
		margin: 0 5px 0 0
		vertical-align: middle
		display: inline-block
		&.is-opacity
			+opacity(0)
	.timer__time
		font-size: 0
		color: #fff
		line-height: 1
		display: inline-block
		span
			font-size: 13px

// dial
.dial
	font-size: 0 !important

// dash
.dash
	vertical-align: top
	display: inline-block
	.digit
		font-size: 13px
		vertical-align: top
		display: inline-block

// ticker
.ticker
	overflow: hidden
	white-space: nowrap
	height: 31px
	line-height: 31px
	.rate
		margin-left: 42px
		vertical-align: middle
		&:first-child
			margin-left: 20px

// rate
.rate
	display: inline-block
	vertical-align: top
	font-size: 15px
	font-weight: 700
	line-height: 1
	text-transform: uppercase
	&.is-rate-plus
		.rate__ico
			+s(arr-plus-green)
		.rate__percent
			color: #009c1d
	&.is-rate-minus
		.rate__ico
			+s(arr-minus-red)
		.rate__percent
			color: #fc4441
	&.is-rate-plus,
	&.is-rate-minus
		.rate__percent
			display: inline-block
	.rate__text,
	.rate__ico,
	.rate__percent,
	.rate__ico
		position: relative
		top: -1px
		vertical-align: middle
		display: inline-block
	.rate__percent
		margin-left: 12px
		display: none

// graph
.graph
	position: absolute
	top: 0
	left: 140px
	right: 250px
	bottom: 0
	background: url(../img/bg-graf.png) no-repeat 50% 50%
	background-size: cover
	&::-webkit-scrollbar
		display: none
	.graph__info
		position: absolute
		top: 23px
		left: 50%
		margin-left: -9px
		background-color: none
		+s(ico-info)
// chart
.chart
	position: absolute
	top: 0
	left: 0
	right: 27px
	bottom: 90px

// pointer
.pointer
	position: absolute
	padding-right: 7px
	right: 0
	opacity: 0.5
	cursor: pointer
	color: #FFF
	height: 27px
	line-height: 27px
	font-weight: 400
	text-transform: uppercase
	&:hover,
	&.is-active
		opacity: 1
		background: #1c1c1c
		&:before
			display: block
		.pointer__red
			color: #ff746c
			display: inline-block
	&:before
		position: absolute
		content: ''
		top: 0
		left: -13px
		display: none
		+arr(13,27,#1c1c1c,l)

// controls
.zoom-plus
	position: absolute
	top: 14px
	left: 77px
	z-index: 10
	background-color: transparent
	+s(zoom-plus)
.zoom-minus	
	position: absolute
	top: 14px
	left: 17px
	z-index: 10
	background-color: transparent
	+s(zoom-minus)
.btn-full
	position: absolute
	top: 14px
	left: 137px
	z-index: 10
	background-color: transparent
	+s(ico-full)

.scrollbar
	position: absolute
	bottom: 0
	left: 20px
	right: 0
	height: 3px
	background: rgba(#499eff, .3)
	.scrollbar__track
		height: 3px
		cursor: pointer
		background: #499eff

// behavior
.behavior
	position: absolute
	left: 20px
	bottom: 30px
	z-index: 2
	+r(1036)
		bottom: 30px
	.behavior__text
		width: 140px
		color: white
		line-height: 16px
		vertical-align: top
		display: inline-block
	.behavior__course
		width: 177px
		vertical-align: top
		display: inline-block
	.range
		margin-top: 8px

// winner
.range
	position: relative
	height: 19px
	line-height: 19px
	font-weight: 500
	color: #fff
	background-color: #ff5439
	+background-image(linear-gradient(bottom, #ff6846 0%, #ff3f2b 100%))
	+border-radius(19px)
	.range__green
		position: absolute
		top: 0
		bottom: 0
		right: 0
		padding-left: 10px
		+border-radius(0 19px 19px 0)
		background-color: #51dc31
		+background-image(linear-gradient(right, #a5ed18 0%, #50db30 100%))
		+box
	.range__red
		position: absolute
		top: 0
		left: 0
		bottom: 0
		padding: 0 6px
		text-align: right
		+box
	.range__toddler
		position: absolute
		left: 0
		top: -4px
		bottom: -4px
		width: 3px
		background-color: white
		+border-radius(2px)

// winners
.winners
	position: absolute
	right: 10px
	bottom: 10px
	z-index: 2
	width: 190px
.winner
	position: relative
	padding: 0 10px 0 38px
	margin-top: 5px
	height: 30px
	line-height: 30px
	font-weight: 500
	color: #fff
	background: #1c1c1f
	+clr
	.winner__left
		float: left
	.winner__img
		position: absolute
		top: 0
		left: 0
		height: 30px
		width: 30px
		overflow: hidden
		img
			position: relative
			top: 50%
			width: 100%
			+translate(0,-50%)
			display: block
	.winner__name
		vertical-align: top
		display: inline-block
	.winner__status
		margin-left: 1px
		color: #FFE41D
		vertical-align: top
		display: inline-block
	.winner__price
		float: right

// 
.error
	margin: 35px 0 45px
	text-align: center
	.error__text
		margin: 10px 0
		color: #FFCE30
		font-size: 15px
		font-weight: 500
		text-transform: uppercase
	.error__ico
		height: 74px
		.ico
			position: relative
			top: 50%
			+translate(0,-50%)
	.btn
		width: 172px
// btn
.btn
	padding: 0 35px
	min-width: 133px
	height: 55px
	font-size: 22px
	color: #fff
	line-height: 55px
	background: url(../img/bg-btn.png) no-repeat 0 0
	background-size: cover
	display: inline-block
	+box
	&:hover
		+opacity(.9)

// form
.form
	.form__label
		font-size: 13px
		font-weight: 500
	.form__row
		margin-top: 18px
	.form__field
		margin-top: 5px
	input
		width: 100%
		height: 55px
		text-indent: 10px
		color: #fff
		font-size: 28px
		border: 1px solid #FFF
		display: block
		background: none
		+placeholder-color(#fff)
		&:focus
			+placeholder
				font-size: 0

	.form__bottom
		margin-top: 33px
		+clr
		.authoriz-blue
			float: right
			width: 167px

// authoriz-blu
.authoriz-blue
	color: #3CAAF5
	font-size: 22px
	line-height: 28px
	text-align: right
	&:hover
		text-decoration: underline
// popup
.popup
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(#23669A, .9)
	z-index: 100
	overflow-y: auto
	display: none
	+box
	&::-webkit-scrollbar
		display: none
	.popup__in
		padding: 46px 50px 37px
		margin: 0 auto
		width: 528px
		height: 413px
		color: #fff
		background-color: #252529
		+background-image(linear-gradient(to top, rgba(0, 0, 0, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%))
		+box
	.popup__title
		margin-bottom: 27px
		color: #FFF
		font-size: 28px
		line-height: 1
		font-weight: 400
		text-transform: uppercase
		&.popup__title_mod
			padding-right: 80px
			margin: 60px 0 70px
			line-height: 48px
			span
				color: #FFDB42

// keyb
.keyb
	position: absolute
	left: 0
	right: 0
	bottom: 0
	padding: 0.85vw 0.85vw 0.85vw 0
	vertical-align: bottom
	background: #000
	+box
	.calculator
		margin: 0
		padding: 0
	&.is-number
		top: 50px
		margin-left: 2px
		padding: 9px
		.keyb__butt
			margin-left: 4%
			width: 30.5%
			min-height: 100%
			height: 63px
			line-height: 63px
			font-size: 22px
			-webkit-font-smoothing: antialiased
			&:first-child
				margin-left: 0 !important
		.keyb__row
			margin-top: 4%
			&:last-child
				.keyb__butt
					&:last-child
						width: 65%
	.keyb__row
		margin-top: 0.85vw
		font-size: 0
		white-space: nowrap
		&:first-child
			margin-top: 0
		&:nth-child(2)
			.keyb__butt
				&:first-child
					margin-left: 3vw
	.keyb__butt
		margin-left: 0.84vw
		width: 7.423vw
		height: 6.25vw
		color: #fff
		font-size: 2.6vw
		line-height: 6.25vw
		text-shadow: 1px 1px 1px #000, -1px -1px 1px #000
		font-family: Tahoma, 'Roboto', sans-serif
		text-align: center
		vertical-align: top
		background: #302f37
		display: inline-block
		+transition(all .1s linear)
		&:hover
			+opacity(.8)
		&.is-dark
			font-size: 2vw
			background: #1e1d22
		&.is-delete
			width: 15.6vw
		&.is-done
			width: 13.5vw
			font-size: 1.5vw
		&.is-space
			width: 57vw
		.ico
			vertical-align: middle
	.keyb__centr
		margin-top: -7px
		line-height: 1
		vertical-align: middle
		display: inline-block
	.keyb__leng
		text-transform: uppercase
		font-size: 1.2vw
		display: block

// lose
.info
	position: fixed
	left: 0
	bottom: 0
	right: 0
	padding: 33px 0 46px
	font-size: 42px
	line-height: 1.2
	font-weight: 500
	text-transform: uppercase
	z-index: 100
	background: rgba(#1D1D21, .95)
	display: none
	+box
	&.is-active
		display: block
	&.info_green
		padding: 20px 0
		background: url(../img/bg-green-info-op.png) repeat-x 0 0
		background-size: cover
		&:before
			position: absolute
			content: ''
			left: 0
			right: 0
			bottom: 0
			height: 212px
			background: url(../img/dollar-left.png) no-repeat -53px 55px, url(../img/dollar-bot.png) no-repeat 50% 96px, url(../img/dollar-right.png) no-repeat 107% 17px, url(../img/arrow-top.png) no-repeat 17% 0
		.info__close
			margin-left: 25px
			vertical-align: super
	&.info_red
		padding: 20px 0
		height: 115px
		background: url(../img/bg-red-info.png) repeat-x 0 0
		background-size: cover
		&:before
			position: absolute
			content: ''
			left: 0
			right: 0
			bottom: 0
			height: 154px
			background: url(../img/dollar-left.png) no-repeat -53px 55px, url(../img/dollar-bot.png) no-repeat 50% 96px, url(../img/dollar-right.png) no-repeat 107% 17px, url(../img/arrow-bot.png) no-repeat -48px -25px
		.info__close
			margin-left: 25px
			vertical-align: super
	.info__in
		position: relative
		margin: 0 auto
		width: 588px
		z-index: 2
		+clr
	.info__red
		float: left
		color: #FB673E
		vertical-align: top
		display: inline-block
		.ico
			margin-right: 28px
	.info__white
		float: right
		margin-left: 30px
		color: #FFF
		vertical-align: top
		display: inline-block
	.info__price
		position: relative
		margin-left: 30px
		top: -27px
		height: 102px
		width: 102px
		color: #000
		text-align: center
		line-height: 102px
		font-size: 42px
		font-weight: 500
		+border-radius(50%)
		+background-image(linear-gradient(right, #edf6ef 50%, rgba(51, 198, 79, 0) 50%))
		background-color: #f8fdf9
		display: inline-block
	.info__close
		position: relative
		top: -3px
		margin-left: 34px
		background-color: none
		display: inline-block
		vertical-align: middle
		+s(close-lose)
		&:hover
			+opacity(.8)

// footer
.footer
	position: fixed
	padding-right: 250px
	left: 0
	right: 0
	bottom: 0
	height: 31px
	z-index: 3
	background-color: white
	+box
	.footer__right
		position: absolute
		top: 0
		right: 0
		width: 250px
		height: 31px
		background: #f2f2f2
	.footer__logo
		position: absolute
		left: 50%
		top: 50%
		+translate(-50%, -50%)
		+s(logo-sportsbook)




























































































